body {
  background-color: black !important;
  color: white;
  size: 30px;
}
p {
  color: white !important;
}

.time {
  font-size: 30pt;
}

.user {
  font-family: Calibri;
  font-size: 24pt;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 20%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.now {
  background-color: #00d0ff;
}

.black{
  background-color: #00000f;
}
div{
  transition: opacity 1s;
}

